<h2><%= @champion[:name] %></h2>
<h3> <%= @champion[:title] %></h3>


<h4>Which build do you want to try?</h4>

<%= link_to "Mage Build", calculator_path(build: [3001, 3116, 3174, 3165, 3020, 3026]) %>
<%= link_to "ADC Build", calculator_path(build: [3087, 3031, 3072, 3006, 3153, 3085]) %>
<%= link_to "Tank Build", calculator_path(build: [3143, 3083, 3065, 3047, 3110, 3022]) %>
<%= link_to "Support Build", calculator_path(build: [3401, 3222, 3290, 3512, 3158, 2049]) %>

<table class="table table-condensed">
  <thead>
    <th>Stat Name</th>
    <th>Stat Value</th>
  </thead>
  <tbody>
    <tr>
      <td>Health</td>
      <td> <%= @champion[:stats_with_items][:hp] %> </td>
    </tr>
    <tr>
      <td>HP Regen</td>
      <td> <%= @champion[:stats_with_items][:hpregen] %> </td>
    </tr>
    <tr>
      <td> <%= @champion[:partype] %></td>
      <td> <%= @champion[:stats_with_items][:mp] %> </td>
    </tr>
    <tr>
      <td> <%= @champion[:partype] %> Regen</td>
      <% if @champion[:stats_with_items][:mpregen] == 0 %>
        <td>0</td>
      <% else%>
        <td> <%= @champion[:stats_with_items][:mpregen] %> </td>
      <% end %>
    </tr>
    <tr>
      <td>Attack Damage</td>
      <td> <%= @champion[:stats_with_items][:attackdamage] %> </td>
    </tr>
    <tr>
      <td>Ability Power</td>
      <% if @champion[:stats_with_items][:ap] %>
        <td> <%= @champion[:stats_with_items][:ap] %> </td>
      <% else %>
        <td> 0 </td>
      <% end %>
    </tr>
    <tr>
      <td>Armor</td>
      <td> <%= @champion[:stats_with_items][:armor] %> </td>
    </tr>
    <tr>
      <td>Magic Resist</td>
      <td> <%= @champion[:stats_with_items][:spellblock] %> </td>
    </tr>
    <tr>
      <td>Crit %</td>
      <td> <%= @champion[:stats_with_items][:crit] * 100 %>% </td>
    </tr>
    <tr>
      <td>Lifesteal</td>
      <td> <%= @champion[:stats_with_items][:lifesteal] * 100 %>% </td>
    </tr>
    <tr>
      <td>Movement Speed</td>
      <td> <%= @champion[:stats_with_items][:movespeed] %> </td>
    </tr>
    <tr>
      <td>Attack Speed</td>
      <td> <%= @champion[:stats_with_items][:attackspeed] %> </td>
    </tr>
  </tbody>
</table>
<% if @item_array %>
  <table class='table'>
    <thead>
      <th>Item Name</th>
      <th>Description</th>
      <th>stats</th>
    </thead>
    <tbody>

      <% @item_array.each do |item| %>
        <tr>
          <td><%= item[:name] %></td>
          <td><%= item[:plaintext] %></td>
          <% item[:stats].each do |key, value| %>
            <td>
              <p><%= key %>: <%= value %> </p>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
