<h1><%= @champion[:name] %></h1>
<h3><%= @champion[:title] %></h3>
<table>
  <thead>
    <th>Stat(all values at lvl 1)</th>
    <th>Stat</th>
  </thead>
  <tbody>
    <tr>
      <td>Health</td>
      <td><%= @champion[:stats][:hp]%> </td>
    </tr>
    <tr>
      <td>HP Regen</td>
      <td><%= @champion[:stats][:hpregen]%> </td>
    </tr>

    <tr>
      <td><%= @champion[:partype] %></td>
      <td><%= @champion[:stats][:mp] %> </td>
    </tr>
    <tr>
      <td><%= @champion[:resource] %> Regen</td>
      <% if @champion[:stats][:mpregen] == 0 %>
        <td>0</td>
      <% else %>
        <td><%= @champion[:stats][:mpregen] %> </td>
      <% end %>
    </tr>
    <tr>
      <td>Attack Damage</td>
      <td><%= @champion[:stats][:attackdamage]%> </td>
    </tr>
    <tr>
      <td>Armor</td>
      <td><%= @champion[:stats][:armor]%> </td>
    </tr>
    <tr>
      <td>Magic Resist</td>
      <td><%= @champion[:stats][:spellblock]%> </td>
    </tr>
    <tr>
      <td>Crit</td>
      <td><%= @champion[:stats][:crit]%>% </td>
    </tr>
    <tr>
      <td>Attack Speed</td>
      <td><%= @champion[:stats][:attackspeed]%> </td>
    </tr>
    <tr>
      <td>Movement Speed</td>
      <td><%= @champion[:stats][:movespeed]%> </td>
    </tr>
  </tbody>
</table>

<p>
  what level would you like to see the stats for?
</p>
<% 2.upto(18) do |i| %>
  <p>
    <%= link_to i, champion_path(level: i) %>
  </p>
<% end %>
